<!-- Header Section End -->

<div class="search-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Find Courses</h1><br><h2>More than <strong>300</strong> Courses to Kickstart your career!</h2>
        <div class="content">
          <form method="" action="">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="job title / keywords / company name">
                  <i class="ti-time"></i>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <input class="form-control" type="email" placeholder="city / province / zip code">
                  <i class="ti-location-pin"></i>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="search-category-container">
                  <label class="styled-select">
                    <select class="dropdown-product selectpicker">
                      <option>All Categories</option>
                      <option>Digital Marketing</option>
                      <option>Frontend Developer</option>
                      <option>Business Analytics</option>
                      <option>Full Stack Developer</option>
                      <option>Data Science and Machine Learning</option>
                      <option>Programming</option>
                      <option>Mobile Development</option>
                      <option>Self Driven Car</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="col-md-1 col-sm-6">
                <button type="button" class="btn btn-search-icon"><i class="ti-search"></i></button>
              </div>
            </div>
          </form>
        </div>
        <div class="popular-jobs">
          <b>Popular Keywords: </b>
          <a href="#">Web Design</a>
          <a href="#">Data Science</a>
          <a href="#">Programming</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- end intro section -->
</div>

<!-- Find Job Section Start -->
<section class="find-job section">
<div class="container">
  <h2 class="section-title">Categories</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="job-list col-md-6">
        <div class="thumb">
          <a href="course-categories.html"><img src="assets/img/jobs/img-1.jpg" alt=""></a>
        </div>
        <div class="job-list-content">
          <h4><a href="course-categories.html">Computer Science</a></h4>
          <div class="job-tag">
            <div class="pull-left">
              <div class="meta-tag">
                <span><a href="browse-affiliates.html"><i class="ti-desktop"></i>Affilates</a></span>
              </div>
            </div>
            <div class="pull-right">
              <!-- <a href="job-details.html" class="btn btn-common btn-rm">More Detail</a> -->
            </div>
          </div>
        </div>

      </div>
      <div class="job-list col-md-6">
        <div class="thumb">
          <a href="course-categories.html"><img src="assets/img/jobs/img-2.jpg" alt=""></a>
        </div>
        <div class="job-list-content">
          <h4><a href="course-categorieshtml">Language</a></h4>
          <!-- <p>User Interface/User Experience Design course for absolute novice </p> -->
          <div class="job-tag">
            <div class="pull-left">
              <div class="meta-tag">
                <span><a href="browse-affiliates.html"><i class="ti-desktop"></i>Affilates</a></span>
              </div>
            </div>
            <div class="pull-right">
            <!-- <a href="job-details.html" class="btn btn-common btn-rm">More Detail</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="job-list col-md-6">
        <div class="thumb">
          <a href="course-categories.html"><img src="assets/img/jobs/img-3.jpg" alt=""></a>
        </div>
        <div class="job-list-content ">
          <h4><a href="course-categories.html">Data Science</a></h4>
          <!-- <p>User Interface/User Experience Design course for absolute novice </p> -->
          <div class="job-tag">
            <div class="pull-left">
              <div class="meta-tag">
                <span><a href="browse-affiliates.html"><i class="ti-desktop"></i>Affilates</a></span>
              </div>
            </div>
            <div class="pull-right">
            <!-- <a href="job-details.html" class="btn btn-common btn-rm">More Detail</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="job-list col-md-6">
        <div class="thumb">
          <a href="course-categories.html"><img src="assets/img/jobs/img-4.jpg" alt=""></a>
        </div>
        <div class="job-list-content">
          <h4><a href="course-categories.html">Business and Management</a></h4>
          <!-- <p>User Interface/User Experience Design course for absolute novice </p> -->
          <div class="job-tag">
            <div class="pull-left">
              <div class="meta-tag">
                <span><a href="browse-affiliates.html"><i class="ti-desktop"></i>Affilates</a></span>
              </div>
            </div>
            <div class="pull-right">
            <!-- <a href="job-details.html" class="btn btn-common btn-rm">More Detail</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="job-list col-md-6">
        <div class="thumb">
          <a href="course-categories.html"><img src="assets/img/jobs/img-5.jpg" alt=""></a>
        </div>
        <div class="job-list-content">
          <h4><a href="course-categories.html">Engineering</a></h4>
          <!-- <p>User Interface/User Experience Design course for absolute novice </p> -->
          <div class="job-tag">
            <div class="pull-left">
              <div class="meta-tag">
                <span><a href="browse-affiliates.html"><i class="ti-desktop"></i>Affilates</a></span>
              </div>
            </div>
            <div class="pull-right">
            <!-- <a href="job-details.html" class="btn btn-common btn-rm">More Detail</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="job-list col-md-6">
        <div class="thumb">
          <a href="course-categories.html"><img src="assets/img/jobs/img-2.jpg" alt=""></a>
        </div>
        <div class="job-list-content">
          <h4><a href="course-categories.html">Humanities</a></h4>
          <!-- <p>User Interface/User Experience Design course for absolute novice </p> -->
          <div class="job-tag">
            <div class="pull-left">
              <div class="meta-tag">
                <span><a href="browse-affiliates.html"><i class="ti-desktop"></i>Affilates</a></span>
              </div>
            </div>
            <div class="pull-right">
            <!-- <a href="job-details.html" class="btn btn-common btn-rm">More Detail</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-12">
      <div class="showing pull-left">
        <a href="#">Showing <span>6-10</span> Of 24 Jobs</a>
      </div>
      <ul class="pagination pull-right">
        <li class="active"><a href="#" class="btn btn-common" ><i class="ti-angle-left"></i> prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li class="active"><a href="#" class="btn btn-common">Next <i class="ti-angle-right"></i></a></li>
      </ul>
    </div> -->
  </div>
</div>
</section>
<!-- Find Job Section End -->


<!-- Featured Jobs Section Start -->
<section class="featured-jobs section">
<div class="container">
  <h2 class="section-title">
    Featured Courses
  </h2>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="featured-item">
        <div class="featured-wrap">
          <div class="featured-inner">
            <figure class="item-thumb">
              <a class="hover-effect" href="job-page.html">
                <img src="assets/img/features/img-1.jpg" alt="">
              </a>
            </figure>
            <div class="item-body">
              <h3 class="job-title"><a href="job-page.html">Digital Marketing</a></h3>
              <!-- <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div> -->
            </div>
          </div>
        </div>
        <div class="item-foot">
          <span><i class="ti-calendar"></i> 70 hours</span>
          <span><i class="ti-time"></i> Self paced</span>
          <div class="view-iocn">
            <a href="job-page.html"><i class="ti-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="featured-item">
        <div class="featured-wrap">
          <div class="featured-inner">
            <figure class="item-thumb">
              <a class="hover-effect" href="job-page.html">
                <img src="assets/img/features/img-2.jpg" alt="">
              </a>
            </figure>
            <div class="item-body">
              <h3 class="job-title"><a href="job-page.html">Python for Data Science</a></h3>
              <!-- <div class="adderess"><i class="ti-location-pin"></i> Delaware, United States</div> -->
            </div>
          </div>
        </div>
        <div class="item-foot">
          <span><i class="ti-calendar"></i> 70 hours</span>
          <span><i class="ti-time"></i> Scheduled Classes</span>
          <div class="view-iocn">
            <a href="job-page.html"><i class="ti-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="featured-item">
        <div class="featured-wrap">
          <div class="featured-inner">
            <figure class="item-thumb">
              <a class="hover-effect" href="job-page.html">
                <img src="assets/img/features/img-3.jpg" alt="">
              </a>
            </figure>
            <div class="item-body">
              <h3 class="job-title"><a href="job-page.html">Natural Language Processing</a></h3>
              <!-- <div class="adderess"><i class="ti-location-pin"></i> Victoria Island, Lagos</div> -->
            </div>
          </div>
        </div>
        <div class="item-foot">
          <span><i class="ti-calendar"></i> 7 Hours</span>
          <span><i class="ti-time"></i> Get certified</span>
          <div class="view-iocn">
            <a href="job-page.html"><i class="ti-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="featured-item">
        <div class="featured-wrap">
          <div class="featured-inner">
            <figure class="item-thumb">
              <a class="hover-effect" href="job-page.html">
                <img src="assets/img/features/img-3.jpg" alt="">
              </a>
            </figure>
            <div class="item-body">
              <h3 class="job-title"><a href="job-page.html">React JS</a></h3>
              <!-- <div class="adderess"><i class="ti-location-pin"></i> Wuse, Abuja</div> -->
            </div>
          </div>
        </div>
        <div class="item-foot">
          <span><i class="ti-calendar"></i> 60 Hours</span>
          <!-- <span><i class="ti-time"></i> Part Time</span> -->
          <div class="view-iocn">
            <a href="job-page.html"><i class="ti-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="featured-item">
        <div class="featured-wrap">
          <div class="featured-inner">
            <figure class="item-thumb">
              <a class="hover-effect" href="job-page.html">
                <img src="assets/img/features/img-2.jpg" alt="">
              </a>
            </figure>
            <div class="item-body">
              <h3 class="job-title"><a href="job-page.html">Android Development</a></h3>
              <!-- <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div> -->
            </div>
          </div>
        </div>
        <div class="item-foot">
          <span><i class="ti-calendar"></i> 70 hours</span>
          <!-- <span><i class="ti-time"></i> Full Time</span> -->
          <div class="view-iocn">
            <a href="job-page.html"><i class="ti-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="featured-item">
        <div class="featured-wrap">
          <div class="featured-inner">
            <figure class="item-thumb">
              <a class="hover-effect" href="job-page.html">
                <img src="assets/img/features/img-1.jpg" alt="">
              </a>
            </figure>
            <div class="item-body">
              <h3 class="job-title"><a href="job-page.html">Full Stack Web Development</a></h3>
              <!-- <div class="adderess"><i class="ti-location-pin"></i> NY, United States</div> -->
            </div>
          </div>
        </div>
        <div class="item-foot">
          <span><i class="ti-calendar"></i> 70 Hours</span>
          <span><i class="ti-time"></i> Get certified</span>
          <div class="view-iocn">
            <a href="job-page.html"><i class="ti-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- Featured Jobs Section End -->

<!-- Start Purchase Section -->
<section class="section purchase" data-stellar-background-ratio="0.5">
<div class="container">
  <div class="row">
    <div class="section-content text-center">
      <h1 class="title-text">
       Learn new Skills
      </h1>
      <p>Join thousand of trainees and grow your career!</p>
      <a href="login.html" class="btn btn-common">Enroll Now</a>
    </div>
  </div>
</div>
</section>
<!-- End Purchase Section -->

<!-- Blog Section -->
<section id="blog" class="section">
<!-- Container Starts -->
<div class="container">
  <h2 class="section-title">
    More Values
  </h2>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">
      <!-- Blog Item Starts -->
      <div class="blog-item-wrapper">
        <div class="blog-item-img">
          <a href="single-post.html">
            <img src="assets/img/blog/home-items/img1.jpg" alt="">
          </a>
        </div>
        <div class="blog-item-text">
          <div class="meta-tags">
            <span class="date"><i class="ti-calendar"></i> Dec 20, 2017</span>
            <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
          </div>
          <a href="single-post.html">
            <h3>
              Tips to write an impressive resume online for beginner
            </h3>
          </a>
          <p>
          Your first step to success is your resume. This is the way you can communicate your core competencies to employers.
          </p>
          <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
        </div>
      </div>
      <!-- Blog Item Wrapper Ends-->
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">
      <!-- Blog Item Starts -->
      <div class="blog-item-wrapper">
        <div class="blog-item-img">
          <a href="single-post.html">
            <img src="assets/img/blog/home-items/img2.jpg" alt="">
          </a>
        </div>
        <div class="blog-item-text">
          <div class="meta-tags">
            <span class="date"><i class="ti-calendar"></i> Jan 20, 2018</span>
            <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
          </div>
          <a href="single-post.html">
            <h3>
              Explore 5 how to use this site effectively
            </h3>
          </a>
          <p>
          Signup to discover how we can help you secure your dream job.
          </p>
          <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
        </div>
      </div>
      <!-- Blog Item Wrapper Ends-->
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 blog-item">
      <!-- Blog Item Starts -->
      <div class="blog-item-wrapper">
        <div class="blog-item-img">
          <a href="single-post.html">
            <img src="assets/img/blog/home-items/img3.jpg" alt="">
          </a>
        </div>
        <div class="blog-item-text">
          <div class="meta-tags">
            <span class="date"><i class="ti-calendar"></i> Mar 20, 2018</span>
            <span class="comments"><a href="#"><i class="ti-comment-alt"></i> 5 Comments</a></span>
          </div>
          <a href="single-post.html">
            <h3>
              How to convince recruiters and get your dream job
            </h3>
          </a>
          <p>
           It is quite easy to convince employers get your dream job. Let's help you get there.
          </p>
          <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
        </div>
      </div>
      <!-- Blog Item Wrapper Ends-->
    </div>
  </div>
</div>
</section>
<!-- blog Section End -->

<!-- Testimonial Section Start -->
<div><h2>Testimonials</h2></div><br>
<section id="testimonial" class="section">

<div class="container">
  <div class="row">

    <div class="touch-slider" class="owl-carousel owl-theme">
      <div class="item active text-center">
        <img class="img-member" src="assets/img/testimonial/img1.jpg" alt="">
        <div class="client-info">
         <h2 class="client-name">Rose Johnson<span>(Full Stack Web Developer)</span></h2>
        </div>
        <p><i class="fa fa-quote-left quote-left"></i> I learned Full Stack Web Development from scratch...  <i class="fa fa-quote-right quote-right"></i><br> with GVH Academy <br> and later got placed in a reputable company. </p>
      </div>
      <div class="item text-center">
        <img class="img-member" src="assets/img/testimonial/img2.jpg" alt="">
        <div class="client-info">
         <h2 class="client-name">John Doe <span>(Facebook Developer)</span></h2>
        </div>
        <p><i class="fa fa-quote-left quote-left"></i> I learnt React JS from scratch <i class="fa fa-quote-right quote-right"></i><br> with GVH Academy and today <br> I am working with facebook. </p>
      </div>
      <div class="item text-center">
        <img class="img-member" src="assets/img/testimonial/img3.jpg" alt="">
        <div class="client-info">
          <h2 class="client-name">Nsikak Okon <span>(Data Scientist)</span></h2>
        </div>
        <p><i class="fa fa-quote-left quote-left"></i> I started my Data Science Career... <i class="fa fa-quote-right quote-right"></i><br> on the GVH online platform <br> and later got placed with Nvidia. </p>
      </div>
    </div>
  </div>
</div>
</section>
<!-- Testimonial Section End -->

<!-- Clients Section -->
<section class="clients section">
<div class="container">
  <h2 class="section-title">
    Our Affilates
  </h2>
  <div class="row">
    <div id="clients-scroller">
      <div class="items">
        <img src="assets/img/clients/img1.png" alt="">
      </div>
      <div class="items">
        <img src="assets/img/clients/img2.png" alt="">
      </div>
      <div class="items">
        <img src="assets/img/clients/img3.png" alt="">
      </div>
      <div class="items">
        <img src="assets/img/clients/img4.png" alt="">
      </div>
      <div class="items">
        <img src="assets/img/clients/img5.png" alt="">
      </div>
      <div class="items">
        <img src="assets/img/clients/img6.png" alt="">
      </div>
      <div class="items">
        <img src="assets/img/clients/img6.png" alt="">
      </div>
      <div class="items">
        <img src="assets/img/clients/img6.png" alt="">
      </div>
    </div>
  </div>
</div>
</section>
<!-- Client Section End -->

<!-- Counter Section Start -->
<section id="counter">
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="counting">
        <div class="icon">
          <i class="ti-briefcase"></i>
        </div>
        <div class="desc">
          <h2>Courses</h2>
          <h1 class="counter">300</h1>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="counting">
        <div class="icon">
          <i class="ti-user"></i>
        </div>
        <div class="desc">
          <h2>Students</h2>
          <h1 class="counter">1678</h1>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="counting">
        <div class="icon">
          <i class="ti-write"></i>
        </div>
        <div class="desc">
          <h2>Instructors</h2>
          <h1 class="counter">104</h1>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="counting">
        <div class="icon">
          <i class="ti-heart"></i>
        </div>
        <div class="desc">
          <h2>Affiliates</h2>
          <h1 class="counter">16</h1>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- Counter Section End -->

<!-- Infobox Section Start -->
<section class="infobox section">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="info-text">
        <h2>Learn with your Mobile Device</h2>
        <p>Just go to <a href="#">Google Play</a> to download GVH Mobile</p>
      </div>
      <a href="#" class="btn btn-border">Google Play</a>
    </div>
  </div>
</div>
</section>
<!-- Infobox Section End -->
