 <!-- Page Header Start -->
      <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-wrapper">
                <h2 class="product-title">About Us</h2>
                <ol class="breadcrumb">
                  <li><a href="#"><i class="ti-home"></i> Home</a></li>
                  <li class="current">About Us</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header End -->

      <!-- Main container Start -->
      <div class="about section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <img src="assets/img/about/img1.jpg" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="about-content">
                <h2 class="medium-title">About GVH Career</h2>
                <p class="desc">GVH Careers is the dream job search and recruitment portal. Whether you are an applicant of employer, your next opportunity is just a click from now</p>
                <p>We pool together a community of employers, freelancers, applicants, companies, suppliers, manufacturers, logistics services providers, etc to help meet the needs of our community members, thus enhancing the enter processes for all members</p>
                <a href="#" class="btn btn-common">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main container End -->

      <!-- Service  Section -->
      <section id="service-main" class="section">
        <!-- Container Starts -->
        <div class="container">
          <h1 class="section-title text-center">
           Smart & Easy Place for job Seeker Poster & Recruters
          </h1>
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="service-item">
                <div class="icon-wrapper">
                  <i class="ti-search">
                  </i>
                </div>
                <h2>
                  Search Milions of jobs
                </h2>
                <p>
                  Millions of jobs are around you. You can discover and claim the next opportunity with our support.
                </p>
              </div>
              <!-- Service-Block-1 Item Ends -->
            </div>

            <div class="col-sm-6 col-md-4">
              <!-- Service-Block-1 Item Starts -->
              <div class="service-item">
                <div class="icon-wrapper">
                  <i class="ti-world">
                  </i>
                </div>
                <h2>
                  Location Based Search
                </h2>
                <p>
                  Enter your location or let our intelligent search bot recommend jobs in your geo location.
                </p>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="service-item">
                <div class="icon-wrapper">
                  <i class="ti-stats-up">
                  </i>
                </div>
                <h2>
                  Top Careers
                </h2>
                <p>
                  We bring to you top careers just with a click You are next in line.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Service Main Section Ends -->

      <!-- Testimonial Section Start -->
      <section id="testimonial" class="section">
        <div class="container">
          <div class="row">
            <div class="touch-slider" class="owl-carousel owl-theme">
              <div class="item active text-center">
                <img class="img-member" src="assets/img/testimonial/img1.jpg" alt="">
                <div class="client-info">
                 <h2 class="client-name">"Agnes Okon  <span>(Project Menager)</span></h2>
                </div>
                <p><i class="fa fa-quote-left quote-left"></i> The team that was assigned to our project... were extremely professional <i class="fa fa-quote-right quote-right"></i><br> throughout the project and assured that the owner expectations were met and <br> often exceeded. </p>
              </div>
              <div class="item text-center">
                <img class="img-member" src="assets/img/testimonial/img2.jpg" alt="">
                <div class="client-info">
                 <h2 class="client-name">"Kemfon Udoh  <span>(Project Menager)</span></h2>
                </div>
                <p><i class="fa fa-quote-left quote-left"></i> The team that was assigned to our project... were extremely professional <i class="fa fa-quote-right quote-right"></i><br> throughout the project and assured that the owner expectations were met and <br> often exceeded. </p>
              </div>
              <div class="item text-center">
                <img class="img-member" src="assets/img/testimonial/img3.jpg" alt="">
                <div class="client-info">
                  <h2 class="client-name">" Joy Ngei <span>(Electricity Engineer)</span></h2>
                </div>
                <p><i class="fa fa-quote-left quote-left"></i> The team that was assigned to our project... were extremely professional <i class="fa fa-quote-right quote-right"></i><br> throughout the project and assured that the owner expectations were met and <br> often exceeded. </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Testimonial Section End -->

      <!-- Clients Section -->
      <section class="clients section">
        <div class="container">
          <h2 class="section-title">
            Clients & Partners
          </h2>
          <div class="row">
            <div id="clients-scroller">
              <div class="items">
                <img src="assets/img/clients/img1.png" alt="">
              </div>
              <div class="items">
                <img src="assets/img/clients/img2.png" alt="">
              </div>
              <div class="items">
                <img src="assets/img/clients/img3.png" alt="">
              </div>
              <div class="items">
                <img src="assets/img/clients/img4.png" alt="">
              </div>
              <div class="items">
                <img src="assets/img/clients/img5.png" alt="">
              </div>
              <div class="items">
                <img src="assets/img/clients/img6.png" alt="">
              </div>
              <div class="items">
                <img src="assets/img/clients/img6.png" alt="">
              </div>
              <div class="items">
                <img src="assets/img/clients/img6.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Client Section End -->
