<!-- Page Header Start -->
      <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-wrapper">
                <h2 class="product-title">FAQ</h2>
                <ol class="breadcrumb">
                  <li><a href="#"><i class="ti-home"></i> Home</a></li>
                  <li class="current">Faq</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header End --> 
    <!-- Start Map Section -->
      <div id="google-map"></div>
      <!-- End Map Section -->

      <!-- Start Contact Us Section -->
      <section id="content">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2 class="medium-title">
                Contact Us
              </h2>
              <div class="information">
                <div class="contact-datails">
                  <div class="icon">
                    <i class="ti-location-pin"></i>
                  </div>
                  <div class="info">
                    <h3>Address</h3>
                    <span class="detail">Main Office: NO. 407 Oron Road - Uyo, Nigeria</span>
                    <span class="datail">Customer Center: Kemzy Plaza, Wuse II- Abuja, Nigeria</span>
                  </div>
                </div>
                <div class="contact-datails">
                  <div class="icon">
                    <i class="ti-mobile"></i>
                  </div>
                  <div class="info">
                    <h3>Phone Numbers</h3>
                    <span class="detail">Main Office: +234 808 456 7891</span>
                    <span class="datail">Customer Supprort: +234 907 456 7891 </span>
                  </div>
                </div>
                <div class="contact-datails">
                  <div class="icon">
                    <i class="ti-location-arrow"></i>
                  </div>
                  <div class="info">
                    <h3>Email Address</h3>
                    <span class="detail">Customer
                    Support: info@ghv.com</span>
                    <span class="detail">Technical Support: support@ghv.com</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <!-- Form -->
              <form id="contactForm" class="contact-form" data-toggle="validator">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required data-error="Please enter your name">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="email" class="form-control" id="email" placeholder="mail@sitename.com" required data-error="Please enter your email">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control" placeholder="Massage" rows="11" data-error="Write your message" required></textarea>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button type="submit" id="submit" class="btn btn-common">Send Us</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Us Section  -->

      <section class="section text-center" >
      <div class="container">
        <!-- Start Animations Text -->
        <!-- <h1>
            You are using Free Lite version of Job Board<br> Purchase Full version to Get all Pages and Features
        </h1> -->
      <br>
        <!-- End Animations Text -->

        <!-- Start Buttons -->
        <a rel="nofollow" target="_blank" href="#" class="btn btn-common btn-large"><i class="fa fa-cart"></i> Your search ends with us!</a>
        </div>
      </div>
    </section>
