  <!-- Page Header Start -->
      <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-wrapper">
                <h2 class="product-title">Find Job</h2>
                <ol class="breadcrumb">
                  <li><a href="#"><i class="ti-home"></i> Home</a></li>
                  <li class="current">Find Job</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header End -->

      <section class="section text-center" >
      <div class="container">
                <!-- Start Animations Text -->
                <!-- <h1>
                    You are using Free Lite version of Job Board<br> Purchase Full version to Get all Pages and Features
                </h1> -->
              <br>
                <!-- End Animations Text -->

                <!-- Start Buttons -->
                <a rel="nofollow" target="_blank" href="#" class="btn btn-common btn-large"><i class="fa fa-cart"></i> page is under development</a>
        </div>
      </div>
    </section>
